@model TestDrive.Models.TesteDrive;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pesquisa sobre Programadores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/rsvpform.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <title>Revenda de Automóveis LTDA</title>
</head>
<body>
    <h1>Cadastro do TestDrive</h1>
    <div asp-validation-summary="All"></div>
    <form asp-action="RsvpForm" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NameVendedor">Nome do Vendedor</label>
                <input asp-for="NameVendedor" class="form-control" placeholder="Insira o nome do vendedor">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MarcaCarro">Marca do Carro</label>
                <input asp-for="MarcaCarro" class="form-control" placeholder="Insira a marca do carro">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ModeloCarro">Modelo do Carro</label>
                <input asp-for="ModeloCarro" class="form-control" placeholder="Insira o modelo do carro">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DataTestDrive">Data do Test Drive</label>
                <input asp-for="DataTestDrive" type="date" class="form-control">
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Cadastro do Cliente</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NameCliente">Nome do Cliente</label>
                <input asp-for="NameCliente" class="form-control" placeholder="Insira o nome do cliente">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email">Email do Cliente</label>
                <input asp-for="Email" class="form-control" placeholder="Insira o email do cliente">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DataNascimentoCliente">Data de Nasc. do Cliente</label>
                <input asp-for="DataNascimentoCliente" type="date" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Sexo</label>
                <select asp-for="Sexo" class="form-control">
                    <option value="">Escolha uma opção</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="RendaFamiliar">Renda Familiar</label>
                <input asp-for="RendaFamiliar" class="form-control" id="rendafamilia" placeholder="Insira a renda familiar">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Rua">Rua</label>
                <input asp-for="Rua" class="form-control" placeholder="Insira o nome da rua">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Bairro">Bairro</label>
                <input asp-for="Bairro" class="form-control" placeholder="Insira o nome do bairro">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Cidade">Cidade</label>
                <input asp-for="Cidade" class="form-control" placeholder="Insira o nome da Cidade">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Nro">Nro</label>
                <input asp-for="Nro" class="form-control" placeholder="Insira o nro">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Telefone">Telefone</label>
                <input asp-for="Telefone" class="form-control" id="telefoneid" placeholder="Insira o telefone do cliente">
            </div>
            <div class="form-group col-md-4">
                <label>Estado</label>
                <select asp-for="Uf" class="form-control">
                    <option value="">Escolha seu Estado</option>
                    <option value="AC">Acre – AC</option>
                    <option value="AL">Alagoas – AL</option>
                    <option value="AP">Amapá – AP</option>
                    <option value="AM">Amazonas – AM</option>
                    <option value="BA">Bahia – BA</option>
                    <option value="CE">Ceará – CE</option>
                    <option value="DF">Distrito Federal – DF</option>
                    <option value="ES">Espírito Santo – ES</option>
                    <option value="GO">Goiás – GO</option>
                    <option value="MA">Maranhão – MA</option>
                    <option value="MT">Mato Grosso – MT</option>
                    <option value="MS">Mato Grosso do Sul – MS</option>
                    <option value="MG">Minas Gerais – MG</option>
                    <option value="PA">Pará – PA</option>
                    <option value="PB">Paraíba – PB</option>
                    <option value="PR">Paraná – PR</option>
                    <option value="PE">Pernambuco – PE</option>
                    <option value="PI">Piauí – PI</option>
                    <option value="RR">Roraima – RR</option>
                    <option value="RO">Rondônia – RO</option>
                    <option value="RJ">Rio de Janeiro – RJ</option>
                    <option value="RN">Rio Grande do Norte – RN</option>
                    <option value="RS">Rio Grande do Sul – RS</option>
                    <option value="SC">Santa Catarina – SC</option>
                    <option value="SP">São Paulo – SP</option>
                    <option value="SE">Sergipe – SE</option>
                    <option value="TO">Tocantins – TO</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Dados</button>
        <a class="btn btn-danger" asp-action="Index">Voltar</a>
    </form>
    
</body>
</html>

<script>
    $(document).ready(function () {
        $("#rendafamilia").mask('####,##');
        $("#telefoneid").mask('(999)9999-9999');
    });
</script>


