body {
    background-color: #FFC039;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    overflow: hidden;
}

h1 {
    font-size: 5rem;
    color: #fff;
    font-family: 'Anton', sans-serif;
}

p {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.texto_menu {
    padding: 33rem;
}

© 2019 GitHub, Inc.
Terms
Privacy
Security
St
